.gm {
  width: 100%;
  height: 100%;
}

.gmRw {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gm-hdng-bx {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.gm-ans-bx {
  position: absolute;
  left: 0;
  padding: 0.5rem 1rem;
  display: flex;
  column-gap: 2rem;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--clBl);
}

.gm-ans-crct-bx,
.gm-ans-err-bx {
  width: var(--gmAnsBxWdth);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gm-ans-crct-hdng,
.gm-ans-err-hdng,
.gm-ans-err-txt,
.gm-ans-crct-txt {
  font-size: var(--gmAnsHdngFZ);
}

.gm-ans-crct-hdng,
.gm-ans-err-hdng {
  color: var(--clBl);
}

.gm-ans-crct-txt,
.gm-ans-err-txt {
  margin-left: 1rem;
}

.gm-ans-crct-txt {
  color: var(--clGrn);
}

.gm-ans-err-txt {
  color: var(--clRd);
}

.gm-hdng {
  color: var(--clGrn);
  font-size: var(--gmHdngFZ);
  text-align: center;
  transition: color var(--trnsTmX2) linear;
}

.gm-hdng.gm-hdng-gmMd {
  color: var(--clRd);
}

.gm-strt-btn,
.gm-rpt-btn {
  font-size: var(--gmBtnFZ);
  color: var(--clSlvr);
  position: absolute;
  right: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--clBl);
}

.gm-strt-btn {
  background-color: var(--clBl);
}

.gm-rpt-btn {
  background-color: var(--clDrkBl);
}

.gm-strt-btn::after,
.gm-rpt-btn::after {
  content: "";
  width: var(--gmBtnWdth);
  height: var(--gmBtnHght);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 0.5rem;
}

.gm-strt-btn::after {
  background-image: url("./../../icon/mn-icon/pwSlvr.png");
}
.gm-rpt-btn::after {
  background-image: url("./../../icon/mn-icon/audSlvr.png");
}

.gm-cont-bx {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 2%;
  row-gap: 3%;
}

/* card */

.gmCrd {
  width: var(--gmCrdWdth);
  height: var(--gmCrdHght);
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--clBl);

  cursor: pointer;
  transition: scale var(--trnsTmX1) linear, box-shadow var(--trnsTmX1) linear;

  animation: gmCrdRttRvrs 900ms linear;
}

.gmCrd.gmCrd-rtt {
  animation: gmCrdRtt 900ms linear;
}

.gmCrd.gmCrd-dsbl {
  cursor: auto;
  pointer-events: none;
}

.gmCrd.gmCrd-crctAns {
  cursor: auto;
  pointer-events: none;
}



@keyframes gmCrdRtt {
  0% {
    transform: rotateY(0deg);
    visibility: visible;
  }
  15% {
    transform: rotateY(45deg);
    visibility: visible;
  }
  30% {
    transform: rotateY(90deg);
    visibility: hidden;
  }
  40% {
    transform: rotateY(135deg);
    visibility: hidden;
  }
  50% {
    transform: rotateY(180deg);
    visibility: hidden;
  }
  60% {
    transform: rotateY(225deg);
    visibility: hidden;
  }
  70% {
    transform: rotateY(270deg);
    visibility: hidden;
  }
  85% {
    transform: rotateY(315deg);
    visibility: visible;
  }
  100% {
    transform: rotateY(360deg);
    visibility: visible;
  }
}

@keyframes gmCrdRttRvrs {
  0% {
    transform: rotateY(0deg);
    visibility: visible;
  }
  15% {
    transform: rotateY(-45deg);
    visibility: visible;
  }
  30% {
    transform: rotateY(-90deg);
    visibility: hidden;
  }
  40% {
    transform: rotateY(-135deg);
    visibility: hidden;
  }
  50% {
    transform: rotateY(-180deg);
    visibility: hidden;
  }
  60% {
    transform: rotateY(-225deg);
    visibility: hidden;
  }
  70% {
    transform: rotateY(-270deg);
    visibility: hidden;
  }
  85% {
    transform: rotateY(-315deg);
    visibility: visible;
  }
  100% {
    transform: rotateY(-360deg);
    visibility: visible;
  }
}

.gmCrd-rw {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--clSkBl);
  border-radius: 2rem;
  transition: background-color var(--trnsTmX1) linear;

  position: relative;
  z-index: 1;
}

.gmCrd-rw.gmCrd-rw-gmMd {
  background-color: var(--clTmt);
}

.gmCrd-rw.gmCrd-rw-gmMd.gmCrd-rw-gmMd-crctAns,
.gmCrd-rw.gmCrd-rw-gmMd.gmCrd-rw-gmMd-errAns {
  position: relative;
}

.gmCrd-rw.gmCrd-rw-gmMd.gmCrd-rw-gmMd-crctAns {
  background-color: var(--clGrn);
}

.gmCrd-rw.gmCrd-rw-gmMd.gmCrd-rw-gmMd-errAns {
  background-color: var(--clRd);
}

.gmCrd-rw.gmCrd-rw-gmMd.gmCrd-rw-gmMd-crctAns::after,
.gmCrd-rw.gmCrd-rw-gmMd.gmCrd-rw-gmMd-errAns::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  width: var(--gmCrdAnsWdth);
  height: var(--gmCrdAnsWdth);
  left: calc(50% - (var(--gmCrdAnsWdth) / 2));
  top: calc(50% - (var(--gmCrdAnsWdth) / 2));
  background-color: var(--clLme);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: .3;
  border-radius: 50%;
}

.gmCrd-rw.gmCrd-rw-gmMd.gmCrd-rw-gmMd-crctAns::after {
  background-image: url("./../../img/mn-img/dflt-img/correct.png");
}

.gmCrd-rw.gmCrd-rw-gmMd.gmCrd-rw-gmMd-errAns::after {
  background-image: url("./../../img/mn-img/dflt-img/error.png");
}



.gmCrd-img-bx {
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  flex-grow: 1;
}

.gmCrd-img-bx.gmCrd-img-bx-gmMd {
  border-radius: 2rem;
}

.gmCrd-img {
  width: 100%;
  height: 100%;
  border-radius: 2rem 2rem 0 0;
}

.gmCrd-img.gmCrd-img-gmMd {
  border-radius: 2rem;
}

.gmCrd-cont-bx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--clSeGrn);
  border-radius: 0 0 2rem 2rem;
  position: relative;

  transition: background-color var(--trnsTmX1) linear;
}

.gmCrd-hdng {
  font-size: var(--gmCrdHdngFZ);
  color: var(--clSlvr);
  text-align: center;
  padding: 0.5rem;
}

.gmCrd-btn {
  background-color: var(--clBl);
  width: var(--gmCrdBtnWdth);
  height: var(--gmCrdBtnHght);
  background-image: url("./../../icon/mn-icon/rptSlvr.png");
  background-position: center;
  background-size: 95%;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--clBl);

  position: absolute;
  right: 1rem;
}

.gm-strt-btn:hover,
.gm-rpt-btn:hover {
  scale: 103%;
  color: var(--clGld);
  box-shadow: 0.2rem 0.2rem 1rem var(--clBl);
}

.gm-strt-btn:hover {
  background-color: var(--clGrn);
}

.gm-rpt-btn:hover {
  background-color: var(--clDrkGrn);
}

.gm-strt-btn:hover::after {
  background-image: url("./../../icon/mn-icon/pwGld.png");
}

.gm-rpt-btn:hover::after {
  background-image: url("./../../icon/mn-icon/audGld.png");
}

.gm-strt-btn:active,
.gm-rpt-btn:active {
  scale: 100%;
  color: var(--clSlvr);
  box-shadow: 0.2rem 0.2rem 0.5rem var(--clBl);
}

.gm-strt-btn:active {
  background-color: var(--clBl);
}
.gm-rpt-btn:active {
  background-color: var(--clDrkBl);
}

.gm-strt-btn:active::after {
  background-image: url("./../../icon/mn-icon/pwSlvr.png");
}

.gm-rpt-btn:active::after {
  background-image: url("./../../icon/mn-icon/audSlvr.png");
}

.gmCrd:hover {
  scale: 103%;
  box-shadow: 0.2rem 0.2rem 1rem var(--clBl);
}

.gmCrd:hover .gmCrd-rw {
  background-color: var(--clBl);
}

.gmCrd:hover .gmCrd-rw.gmCrd-rw-gmMd {
  background-color: var(--clRd);
}

.gmCrd:hover .gmCrd-cont-bx {
  background-color: var(--clGrn);
}

.gmCrd:hover .gmCrd-hdng {
  color: var(--clGld);
}

.gmCrd:active {
  scale: 100%;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--clBl);
}

.gmCrd-btn:hover {
  scale: 101%;
  background-color: var(--clGrn);
  background-image: url(./../../icon/mn-icon/rptGld.png);
  box-shadow: 0.2rem 0.2rem 1rem var(--clBl);
}

.gmCrd-btn:active {
  scale: 100%;
  background-color: var(--clBl);
  background-image: url("./../../icon/mn-icon/rptSlvr.png");
  box-shadow: 0.2rem 0.2rem 0.5rem var(--clBl);
}
