
:root {
  --mnFml: 'IBMPlexSans', sans-serif;
  --gmFml: 'IBMPlexSerif', serif;
  --stFml: 'IBMPlexMono', monospace;

  --clBlck: rgb(0, 0, 0);
  --clNvBlk: rgb(0, 0, 0, .7);
  --clWht: rgb(255, 255, 255);
  --clGry: rgb(128, 128, 128);
  --clLghtGry: rgb(211, 211, 211);
  --clGld: rgb(255, 215, 0);
  --clYlw: rgb(255, 255, 0);
  --clYlwGrn: rgb(173, 255, 47);
  --clSlvr: rgb(192, 192, 192);
  --clDrkBl: rgb(0, 0, 139);
  --clBl: rgb(0, 0, 255);
  --clTrqs: rgb(64, 224, 208);
  --clSkBl: rgb(135, 206, 235);
  --clLghtBl: rgb(173, 216, 230);
  --clDrkGrn: rgb(0, 100, 0);
  --clGrn: rgb(0, 128, 0);
  --clSeGrn: rgb(46, 139, 87);
  --clLme: rgb(0, 255, 0);
  --clLghtGrn: rgb(144, 238, 144);
  --clRd: rgb(255, 0, 0);
  --clTmt: rgb(255, 99, 71);
  --clOrng: rgb(255, 165, 0);
  --clVlt: rgb(238, 130, 238);

  --rwWdth: 130rem;

  /* header */
  --hdrHdngFZ: 4rem;

 /* burger */
  --brgBxWdth: 5.5rem;
  --brgBxHght: 4.5rem;

  --trnsTm: .1s;
  --trnsTmX2: .2s;
  --trnsTmX3: .3s;

  /* nav */
  --nvWdth: 30rem;
  --nvLstHght: 60%;
  --nvLstItmHght: 8%;
  --nvLstItmTxtFZ: 3rem;
  --nvLstItmTxtFZHv: 3.1rem;

  /* mode */
  --mdBxWdth: 15rem;
  --mdBxHght: 3.5rem;

  --mdTglWdth: 3.5rem;
  --mdTglHght: 3.5rem;

  --mdTxtFZ: 3rem;


  /* main */
  --mnHdngFZ: 3.5rem;

  /* mnPg */
  --mnPgHdngFZ: 3rem;
  --mnPgCrdWdth: 23%;
  --mnPgCrdHght: 45%;
  --mnPgCrdFZ: 2.5rem;

  /* gm */
  --gmAnsBxWdth: 20rem;
  --gmAnsHdngFZ: 2rem;
  --gmHdngFZ: 3rem;

  --gmBtnFZ: 2rem;
  --gmBtnWdth: 3rem;
  --gmBtnHght: 3rem;

  --gmCrdWdth: 23%;
  --gmCrdHght: 45%;
  --gmCrdHdngFZ: 2.5rem;
  --gmCrdBtnWdth: 3rem;
  --gmCrdBtnHght: 3rem;

  /* footer */
  --ftrCtctBxWdth: 85%;
  --ftrCtctLnkFZ: 2rem;
  --ftrCtctLnkBfrWdth: 3rem;
  --ftrCtctLnkBfrHght: 3rem;

  --ftrUpsBxWdth: 10%;
}

.proj-bx {
  width: calc(100vw);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.rw {
  width: var(--rwWdth);
  margin-left: auto;
  margin-right: auto;

}

.hdng {
  font-weight: 600;
}

.prg {
  font-weight: 400;
}

.mn-stl {
  font-family: var(--mnFml);
}

.gm-stl {
  font-family: var(--gmFml);
}
